@font-face {
	font-display: fallback;
	font-family: 'Pan Sans';
	src: url('/assets/fonts/pan-sans/pansans-webfont.eot');
	src: url('/assets/fonts/pan-sans/pansans-webfont.eot?#iefix') format('embedded-opentype'),
			url('/assets/fonts/pan-sans/pansans-webfont.woff2') format('woff2'),
			url('/assets/fonts/pan-sans/pansans-webfont.woff') format('woff'),
			url('/assets/fonts/pan-sans/pansans-webfont.ttf') format('truetype'),
			url('/assets/fonts/pan-sans/pansans-webfont.svg#panfontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}